SYNC_TOKEN=secret-sync-token

PORT=12342
S3_ENDPOINT=http://localhost:8987
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=donut-sync
S3_FORCE_PATH_STYLE=true

# ================== GLOBAL / SYSTEM ==================
NODE_ENV=development
LIORA_NETWORK_DRIVER=bridge

# ================== DATABASE (MYSQL) ==================
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=liora_db
MYSQL_PORT_EXTERNAL=3307

# ================== REDIS ==================
REDIS_PORT_EXTERNAL=6380

# ================== NEST-ADMIN BACKEND ==================
NEST_ADMIN_PORT=7001
JWT_SECRET=liora-dev-jwt-secret-change-in-prod
JWT_EXPIRE=7
REFRESH_TOKEN_SECRET=liora-dev-refresh-secret-change-in-prod
REFRESH_TOKEN_EXPIRE=30
INTERNAL_KEY=secret-sync-token

# ================== DONUT-SYNC BACKEND ==================
DONUT_SYNC_PORT=3000
SYNC_TOKEN=secret-sync-token

# ================== MINIO (S3) ==================
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT_API=9002
MINIO_PORT_CONSOLE=9003
S3_BUCKET=donut-sync-backend
S3_REGION=us-east-1